.next-btn {
  position: fixed;
  bottom: 70px; 
  right: 30px;
  background-color: #38c0f4;
  color: white;
  border: none;
  padding: 10px 20px;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
  z-index: 10;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease;
}

.next-btn:hover {
  background-color: #259bdc;
}

.back-btn {
  position: fixed;
  bottom: 70px; 
  left: 30px;
  background-color: #38c0f4;
  color: white;
  border: none;
  padding: 10px 20px;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
  z-index: 10;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease;
}

.back-btn:hover {
  background-color: #259bdc;
}