.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
}

.auth-buttons {
  display: flex;
  gap: 30px;
  margin-top: 30px;
}

.home-button {
  text-decoration: none;
  padding: 12px 28px;
  background-color: #6c63ff;
  color: white;
  font-weight: bold;
  border-radius: 8px;
  font-size: 18px;
  transition: background 0.3s ease;
}

.home-button:hover {
  background-color: #4a43c1;
}