.tips-page {
  height: 100vh;
  width: 100vw;
  background: url("../assets/cover-image.jpeg") no-repeat center center/cover;
  background-size: 100% 200%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 40px;
  box-sizing: border-box;
  color: white;
}

.tips-content {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 20px 50px;
  border-radius: 12px;
  max-width: 600px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
}

.tips-content h2 {
  margin-bottom: 20px;
  font-size: 1.8rem;
  color: #ffffff;
}

.tips-content ul {
  list-style-type: none;
  padding: 0;
}

.tips-content li {
  margin: 12px 0;
  font-size: 1.1rem;
}

.sign-off {
  margin-top: 30px;
  max-width: 600px;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  color: #473939;
}

.breathing-guide {
  margin-top: 20px;
  text-align: center;
  color: #473939;
}

.breath-circle {
  width: 80px;
  height: 80px;
  margin: auto;
  border-radius: 50%;
  background-color: #61dafb;
  animation: breathe 5s ease-in-out infinite;
}

@keyframes breathe {
  0%, 100% {
    transform: scale(1);
    opacity: 0.5;
  }
  50% {
    transform: scale(1.3);
    opacity: 2;
  }
}

.breath-text {
  color: #4e5658;
  margin-top: 10px;
  font-style: italic;
}

.back-btn {
  position: fixed;
  bottom: 70px; 
  left: 30px;
  background-color: #38c0f4;
  color: white;
  border: none;
  padding: 10px 20px;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
  z-index: 10;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease;
}

.back-btn:hover {
  background-color: #259bdc;
}

.logout-btn {
  position: fixed;
  bottom: 70px;
  right: 30px;
  background-color: #f44336;
  color: white;
  border: none;
  padding: 10px 20px;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
  z-index: 10;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease;
}

.logout-btn:hover {
  background-color: #d32f2f;
}

.logout-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  background-color: #ffffff;
  padding: 30px 50px;
  border-radius: 12px;
  text-align: center;
  color: #333;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.5);
  font-size: 1.2rem;
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}